beautifulsoup4==4.6.0
certifi==2018.4.16
chardet==3.0.4
get==1.0.3
html5lib==1.0.1
idna==2.7
lxml==4.2.1
mysql-connector==2.1.6
numpy==1.14.5
pandas==0.23.1
post==1.0.2
public==1.0.3
python-dateutil==2.7.3
pytz==2018.4
query-string==1.0.2
request==1.0.2
requests==2.19.1
selenium==3.12.0
six==1.11.0
urllib3==1.23
webencodings==0.5.1
